---
import Layout from '../components/Layout.astro';
---

<Layout title="Mensaje enviado">
  <div class="container">
    <main>
      <h1>Mensaje enviado con éxito!</h1>
      <p>
        Gracias por enviar tu mensaje, regresar al <a href="/">inicio</a>.
      </p>
    </main>
  </div>
</Layout>
<style>
  html {
    margin: 0 30px;
  }
</style>
